body {
    background: #081324;
    color: #11db2c;
    font-family: 'Fira Code', 'JetBrains Mono', 'Cascadia Code', Inconsolata, Monaco, monospace;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    max-width: 36em;
    margin: auto;
    padding: 0.25em;
}

h1 {
    font-size: 1.5em;
    line-height: 2rem;
    margin: 0.5em 0;
}

p {
    margin: 0.75rem 0;
}

a:link, a:visited {
    color: #11db2c;
    text-decoration-thickness: 0.125em;
    text-underline-offset: 0.25em;
}