@font-face {
    font-family: 'VT323';
    src: url('VT323-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background: #081324;
    color: #11db2c;
    font-family: 'VT323', monospace;
    font-variant-ligatures: none;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    max-width: 36em;
    margin: auto;
    padding: 0.25em;
}

h1 {
    font-weight: normal;
    color: #3794ec;
    font-size: 1.75em;
    line-height: 2rem;
    margin: 0.5em 0;
}

p {
    margin: 0.75rem 0;
    word-break: keep-all;
}

a:link, a:visited {
    color: #11db2c;
    text-decoration-thickness: 0.125em;
    text-underline-offset: 0.25em;
}

small {
    font-size: 20px;
}

b {
    font-weight: normal;
    color: #daeeea;
}

time {
    font-size: 2em;
}